.bg-indigo {
  background-color: indigo;
}
.banner-image {
  background-image: url("../../../../assets/img/banner-img.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 760px !important;
}
.text-thm {
  color: #0061df !important;
}
h2 {
  color: black;
  font-weight: 900;
}
