nav {
  padding: 15px 0;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 4px 0px;
}
li a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.logo-text {
  color: black;
  font-weight: bold;
  font-size: 25px;
  margin-top: 0;
  padding-left: 10px;
  text-transform: capitalize;
  vertical-align: middle;
}
